.Rproj.user
.Rhistory
.Ruserdata
Visualizations
Welcome.R
Rutgers_Wifi_proj.Rproj
.csv
.html
wifi_locNB (DESKTOP-IIPMR6F's conflicted copy 2017-12-12).Rmd
rf_fit.rds
knn_fit.rds
dtree_fit.rds
trainingData.csv
validationData.csv
wifi_locNB.nb.html
Wifi_loc_update_final_EJG.R
Wifi_loc_updateIII.R
Wifi_loc_updateII.R
Wifi_loc_update.R
Wifi_environment.RDataII.RData
Wifi_loc.R
Wifi_environment.RData
rf_fit2.rds
plots.pdf
Wifi_Attribute_Definitions.csv
PhoneID_model_descrip.csv
*.RData
*.rdx
*.png
*.rdb
__wifi_locNB_cache__