broom==0.4.3
C50==0.1.1
caret==6.0-78
doParallel==1.0.11
dplyr==0.7.4
e1071==1.6-8
forcats==0.2.0
foreach==1.4.3
ggmap==2.6.1
ggplot2==2.2.1
iterators==1.0.8
kableExtra==0.6.1
kernlab==0.9-25
kknn==1.3.1
knitr==1.18
purr==0.2.4
ranger==0.8.0
readr==1.1.1
rgl==0.98.1
scales==0.5.0
scatterplot3d==0.3-40
stringr==1.2.0
tibble==1.4.1
tidyr==0.7.2
tidyverse==1.2.1
lattice==0.20-35
parallel==3.4.1